body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://i.gifer.com/SA8y.gif');
    background-repeat: revert-layer;
    background-size: cover;
}

.my-photo {
    padding: 10px;
    width: 125px;
    height: 125px;
}

h3, h2 {
    color: ghostwhite;
    opacity: 0.7;
    margin-left: 20px;
    line-height: 12px;
    font-size: x-large;
}

h4 {
    color: ghostwhite;
    opacity: 0.7;
    margin-left: 30px;
    line-height: 12px;
    font-size: medium;
}

.info-frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: hidden;
    padding: 30px;
    max-width: 625px;
    height: 275px;
    border: solid grey 1px;
    border-right: none;
    border-bottom: none;
    opacity: 80%;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px ghostwhite;
}

.photo {
    padding-left: 10px;
    grid-area: 1 / 1 / 1 / 1;
}

.song {
    flex-grow: 1;
    grid-area: 2 / 1 / 2 / 4;
    font-style: italic;
    white-space: nowrap;
}

.abtme {
    grid-area: 1 / 2 / 1 / 4;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dyke {
    padding-top: 20px;
    white-space: nowrap;
    grid-area: 1 / 4 / 2 / 4;
}

.names {
    font-style: italic;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url('https://i.gifer.com/SA8y.gif');
        background-repeat: revert-layer;
        background-size: cover;
    }

    .my-photo {
        padding: 10px;
        width: 125px;
        height: 125px;
    }

    h3, h2 {
        color: ghostwhite;
        opacity: 0.7;
        margin-left: 20px;
        line-height: 12px;
        font-size: x-large;
    }

    h4 {
        color: ghostwhite;
        opacity: 0.7;
        margin-left: 30px;
        line-height: 12px;
        font-size: medium;
    }

    .info-frame {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        overflow: hidden;
        padding: 30px;
        max-width: 625px;
        height: 275px;
        border: solid grey 1px;
        border-right: none;
        border-bottom: none;
        opacity: 80%;
        border-radius: 10px;
        backdrop-filter: blur(20px);
        box-shadow: 5px 5px 5px ghostwhite;
    }

    .photo {
        padding-left: 10px;
        grid-area: 1 / 1 / 1 / 1;
    }

    .song {
        flex-grow: 1;
        grid-area: 2 / 1 / 2 / 4;
        font-style: italic;
        white-space: nowrap;
    }

    .abtme {
        grid-area: 1 / 2 / 1 / 4;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .names {
        font-style: italic;
        text-decoration: underline;
    }
}