@page "/"
@page "/home"

<PageTitle>@pageTitle</PageTitle>

@code{
    string pageTitle = "@ihatemyspine's status";
}

<div class="info-frame">
    <div class="photo">
        <a href="https://savelife.in.ua/en/"><img src="https://i.ibb.co/BNhj7Ly/main.webp" class="track-photo"></a>
    </div>
    <div class="song">
        <h2>Listens to |</h2>
        <h3>Track: <span class="names">@trackName</span></h3>
        <h3>Artist: <span class="names">@artistName</span></h3>
    </div>
    <div class="abtme">
        <h3>Anna 18 Ukraine</h3>
        <h3>[ESTJ] Winter enjoyer</h3>
        <h3>C# Developer</h3>
    </div>
    <div class="dyke">
        <h4>dyke!</h4>
    </div>
</div>
